{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body class="container">
  <h1>{{title}}</h1>
  <table class="table">
    <tr>
      <th>ID</th><td>{{obj.id}}</td>
    </tr>
    <tr>
      <th>Name</th><td>{{obj.name}}</td>
    </tr>
    <tr>
      <th>Email</th><td>{{obj.mail}}</td>
    </tr>
    <tr>
      <th>Age</th><td>{{obj.age}}</td>
    </tr>
    <tr>
      <th>Birth</th><td>{{obj.birthday}}</td>
    </tr>
    <form action="{% url 'delete' id %}" method="post">
      {% csrf_token %}
      <tr>
        <th></th><td><input type="submit" class="btn btn-primary" value="削除"></td>
      </tr>
    </form>
  </table>
  </form>
</body>
</html>
