{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body class="container">
  <h1>{{title}}</h1>
  <form action="{% url 'message' %}" method="post">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" class="btn btn-primary">
  </form>

  <div class="mt-5"></div>

  <table class="table">
    <tr>
      <th>title</th>
      <th>name</th>
      <th>datetime</th>
    </tr>

    {% for item in data %}
    <tr>
      <td>{{item.title}}</td>
      <td>{{item.friend.name}}</td>
      <td>{{item.pub_date}}</td>
    </tr>
    {% endfor %}
  </table>

  <ul class="pagination justify-content-center">
    {% if data.has_previous %}
    <li class="page-item">
      <a href="{% url 'message' %}" class="page-link">&laquo; first</a>
    </li>
    <li class="page-item">
      <a href="{% url 'message' %}{{data.previous_page_number}}" class="page-link">&laquo; prev</a>
    </li>
    {% else %}
    <li class="page-item">
      <a class="page-link">&laquo; first</a>
    </li>
    <li class="page-item">
      <a class="page-link">&laquo; prev</a>
    </li>
    {% endif %}

    <li class="page-item">
      <a class="page-link">{{data.number}}/{{data.paginator.num_pages}}</a>
    </li>

    {% if data.has_next %}
    <li class="page-item">
      <a href="{% url 'message' %}{{data.next_page_number}}" class="page-link">next &raquo;</a>
    </li>
    <li class="page-item">
      <a href="{% url 'message' %}{{data.paginator.num_pages}}" class="page-link">last &raquo;</a>
    </li>
    {% else %}
    <li class="page-item">
      <a class='page-link'>next &raquo;</a>
    </li>
    <li class="page-item">
      <a class='page-link'>last &raquo;</a>
    </li>
    {% endif %}
  </ul>

</body>
</html>
