{% extends 'crud_pra/layouts.html' %}

{% block content %}
  <nav>
    <ul>
      {% if user.is_authenticated %}
      <li><a href="">ユーザー名：{{user.username}}</a></li>
      <li><a href="{% url 'accounts:logout' %}">ログアウト</a></li>
      {% endif %}
    </ul>
  </nav>

  <div class="container  mt-2">
    <h1>記事一覧</h1>
    <a href="{% url 'create' %}" class="btn btn-primary mb-2">記事作成</a>
    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Date</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for item in data %}
        <tr>
          <td>{{item.title}}</td>
          <td>{{item.pub_date}}</td>
          <td><a href="{% url 'show' item.id %}" class="btn btn-primary">詳細</a></td>
          <td><a href="{% url 'delete' item.id %}" class="btn btn-danger">削除</a></td>
          <td><a href="{% url 'edit' item.id%}" class="btn btn-success">編集</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
