<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <h1>詳細がめん</h1>
    <ul>
      <div>
        <h3>記事タイトル</h3>
        <p>{{data.title}}</p>
      </div>
      <div>
        <h3>記事詳細</h3>
        <p>{{data.content}}</p>
      </div>
    </ul>
    <a href="{% url 'index' %}" class="btn btn-primary">一覧に戻る</a>
  </div>
</body>
</html>
